<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsrafprojekat1.Filip_Draganic_RN542017">

    <application
        android:name="com.rs.raf.projekat1.Filip_Draganic_RN542017.application.Filip_Draganic_RN542017"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_plus_znak_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_plus_znak_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rs.raf.projekat1.Filip_Draganic_RN542017.views.activity.KartonActivity"></activity>
        <activity android:name="com.rs.raf.projekat1.Filip_Draganic_RN542017.views.activity.LoginActivity" />
        <activity
            android:name="com.rs.raf.projekat1.Filip_Draganic_RN542017.views.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rs.raf.projekat1.Filip_Draganic_RN542017.views.activity.MainActivity" />
    </application>

</manifest>